.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding-left: 1rem;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  color: #e1003c;
}

.App-body {
  border-style: solid none;
  border-color: #e1003c ;
  min-height: 50vh;
}
.App-body p {
  text-align: left;
  padding-left: 3rem;
}
